<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="6.0.8" targetFramework="net472" />
  <package id="EPPlus.Interfaces" version="6.0.0" targetFramework="net472" />
  <package id="EPPlus.System.Drawing" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.4.1" targetFramework="net472" />
  <package id="Xarial.XCad.SolidWorks.Interops" version="0.4.0" targetFramework="net472" />
</packages>